$background_color: aqua;
$background_color_hover: yellow;
$box_shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
$nothing: none;
$color_white: #fff;
$image_button_padding: 10px 20px;
$margin_area: 50px;
$padding_area: 50px;
$flexible: flex;
$header_style: 50px Arial, sans-serif;